logs
target
/.bsp
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.DS_Store
docker-compose-local.yml
.DS_Store
/test*.json
/test/.DS_Store
.devcontainer
.metals
.vscode
project/project
project/metals.sbt